/* 전체 적용 */
ol,
ul,
li {
    list-style:none;
}

Container * {
    margin: 15% 0 0 0;
    padding: 0px;
}

main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* -------------------툴바-------------------- */

.tagbar button {
    background:none;
    margin: 3px;
    align-items: center;
    padding: 5px;
    min-width: 60px;
    border: 1px #D7E1E1 solid;
    color: #D7E1E1;
    border-radius: 5px;
}

.tagbar .active {
    border: 1px #ffab00 solid;
    color: #ffab00;
}

  .MIBS{
    background-color: rgba(0,0,0,0.7);
    transition:0.4s ease;
  }



  .MIBS:hover {
    transform: translate(-3rem, -2rem );
    
    box-shadow:0 5px 11px 0 rgba(255, 255, 255, 0.18), 0 4px 15px 0 rgba(255, 255, 255, 0.15);
  } 

	.divider{
	  width:62%;
	  margin-top: 1rem;
	  margin-bottom:1rem;
	  border-top: 2px solid #fff;
	}

  /* -------------------북마크된 영화-------------------- */

.movieItem img {
    border-radius: 15px;
}

.moviePoster {
    color: orange;
    position:relative;
    align-self: center;
}

.movieItem .movieInfo {
    position:absolute;
    top:5%;
    right:5%;
    z-index:1;
    color:#D7E1E1;
    opacity: 0;
}
