<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_wattflix.project.dao.IMovieDAO">
  <resultMap id="movieResult" type="com.spring_boot_wattflix.project.model.MovieVO" >
  		<result property="movieNo" column="movieNo"/>
  		<result property="movieTitle" column="movieTitle"/>
  		<result property="movieGenre" column="movieGenre"/>
  		<result property="moviePoster" column="moviePoster"/>
  		<result property="movieEngTitle" column="movieEngTitle"/>
  		<result property="movieDirector" column="movieDirector"/>
  		<result property="movieActor" column="movieActor"/>
  		<result property="movieRating" column="movieRating"/>
  		<result property="movieOpenDate" column="movieOpenDate"/>
  		<result property="movieDetail" column="movieDetail"/>
  		<result property="movieStillcut" column="movieStillcut"/>
  		<result property="movieTeaser" column="movieTeaser"/>
  	</resultMap>
  	
  	<select id="listAllMovie" resultMap="movieResult">
  	SELECT * FROM movie ORDER BY movieNo
  	</select>
  
  </mapper>